#!/bin/sh

# Start gnome keyring daemon for use with NetworkManager WiFi keys
import gnome-keyring-daemon -s --components=gpg,pkcs11,secrets,ssh &
export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT SSH_AUTH_SOCK &

if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

eval $(ssh-agent) &

# auto-tune precise battery statistics
powertop --auto-tune & 

# Start composite manager and screen locker
compton &
light-locker &

# Persist X11 configuration
xset +fp /usr/share/fonts/local
xset fp rehash 
xrdb ~/.Xresources
xsetroot -cursor_name left_ptr
hsetroot -fill ~/Pictures/bg.jpg 

# Start notification service, network manager, and panel
dunst -conf ~/.config/dunst/dunstrc &
xfce4-panel --disable-wm-check &
nm-applet &

# Start audio proxy
pulseaudio -D &

# Bind keyboard keys
sxhkd &

# Start power manager
xfce4-power-manager &

# Mount removeable storage devices
udiskie &

# Enable tap-to-click
synclient TapButton1=1 TapButton2=3 TapButton3=2
