next_color=2
viewer_size=192
viewer_text_overlay_position=3
use_background_color=false
viewer_type=vbar
viewer_text_overlay_enabled=false
viewer_text_overlay_font=Sans 12
background_color=-1295725313

[1]
type=cpu_usage
cpu_no=-1
tag=cpu
color=-16774992
network_type_0_interface_name=eth0
network_type_1_interface_name=eth1
network_type_2_interface_name=eth2
network_type_3_interface_name=ppp
network_type_4_interface_name=slip
network_type_5_interface_name=wlan0
network_type_6_interface_name=wlan1
network_type_7_interface_name=wlan2
fill_color=1972416176

[2]
type=disk_usage
mount_dir=/
show_free=true
tag=disk
color=-14090064
fill_color=1972416176

[4]
type=temperature
temperature_no=0
tag=
max=93
fill_color=1972416176
color=-2086240336

